{% extends "base_bootstrap.html" %}

{# part of the following code is adapted from the template provided in Mozilla's Django Tutorial Part 8#}
{% block custom_head %}
<title>Log In - CMS Management</title>
<style>
    .super-center {
    display: grid;
    place-items: center;
  }
</style>
{% endblock%}
{% block body_content %}
<div class="super-center">
  <h3>McGill Computer Science Website Content Management System</h3>
  <p>This page is intended for website administrators to log in and edit pages.</p>
  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}
  
  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}
  
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <table>
      <tr>
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr>
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr>
    </table>
    <input type="submit" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>
{% endblock %}