<!DOCTYPE html>
<html>
    <head>
            <title>{{title}}</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
            <style>
                body {
                    padding-top:110px;
                }
            </style>
            {{custom_js_css|safe}}
    </head>

    <body>
        {% include "header.html" %}
        <div class="container-fluid">
            <div class="row" style="min-height: 70vh;">
                <div class="col-sm-3"><h3>Temporary Sidebar</h3></div> <!--Side-wide comman sidebar-->
                <div class="col-sm-9">
                    {{content|safe}}
                </div>
            </div>
            <div class="row"> <!--Side-wide common footer-->
                <h1>Temporary Footer</h1>
            </div>
          </div>
    </body>
</html>