{% extends "base_bootstrap.html" %}
{% block custom_head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.js"></script>
{% endblock %}

{% block body_content %}
<div id="calendar" style="max-width: 500px;"></div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            aspectRatio: 0.8,
            allDay: true,
            dayMaxEvents: true,
            events: [
                {% for i in events %}
                {
                    title: "{{ i.tag }}",
                    description: "{{ i.title }}",
                    start: '{{ i.eventDay|date:"Y-m-d" }}',
                },
                {% endfor %}
            ],
            eventRender: function(info) {
                var tooltip = new Tooltip(info.el, {
                    title: info.event.extendedProps.description,
                    placement: 'top',
                    trigger: 'hover',
                    container: 'body'
              });
            },
        });
        calendar.render();
      });
</script>
{% endblock %}