{% extends "base_bootstrap.html" %}
{% block custom_head %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.css">
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/main.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.4.0/locales-all.min.js"></script>
<style>
    .fc-toolbar-title, .fc-col-header-cell-cushion{
        text-transform: capitalize;
    }
</style>
{% endblock %}

{% block body_content %}
<div id="calendar" style="max-width: 500px;"></div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            locale: '{{ language }}',
            themeSystem: 'bootstrap',
            headerToolbar: {
                left: 'prev,next today',
                // {% if language == 'en' %}
                //     left: 'prev,next, today',
                // {% elif language == 'fr' %}
                //     left: "prev,next, Aujourd'hui",
                // {% endif %}
                center: 'title',
                right: ''
            },
            dayMaxEvents: true,
            events: [
                {% for i in events %}
                    {
                        {% if language == 'en' %}
                            title: '{{ i.english_title }}',
                            start: '{{ i.start|date:"Y-m-d" }}',
                            end: '{{ i.end|date:"Y-m-d" }}',
                            description: '{{ i.english_description }}'
                        {% elif language == 'fr' %}
                            title: '{{ i.french_title }}',
                            start: '{{ i.start|date:"Y-m-d" }}',
                            end: '{{ i.end|date:"Y-m-d" }}',
                            description: '{{ i.french_description }}'
                        {% endif %}
                    },
                {% endfor %}
            ],
            eventClick: function(info)
            {
                window.parent.document.dispatchEvent(new CustomEvent('CalendarModalEvent',{detail: info.event}));
            }
        });
        calendar.render();
    });
</script>
{% endblock %}