{% extends "base_bootstrap.html" %}
{% block custom_head %}
<style>
    /* Some of the tree view css is based on W3 school's tree view template but heavily modified*/
    /* Remove default bullets */
    ul, #site-tree
     {
    list-style-type: none;
    }

    /* Remove margins and padding from the parent ul */
    #site-tree {
    margin: 0;
    padding: 0;
    }

    /* Style the caret/arrow */
    .caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
    }

    /* Create the caret/arrow with a unicode, and style it */
    .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
    }

    /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
    .caret-down::before {
    transform: rotate(90deg);
    }

    /* Hide the nested list */
    .nested {
    display: none;
    }

    /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
    .active {
    display: block;
    }

    .tree-view-item {
        cursor: pointer;
        text-decoration: none;
        color: black;
    }


    .tree-view-item:hover {
        background-color: lightgray;
        text-decoration: none;
        color: black;
    }

    .editor-title {
        background-color: lightcoral;
    }

    .tree-view-element-highlighted {
        background-color: lightblue;
    }

    textarea.form-control {
        max-width: 100%;
    }

</style>
{% endblock %}
{% block body_content %}
{% if user.is_authenticated%}
<div class="container-fluid">
    <div class="row editor-title">
        <div class="col-sm-12 text-center">
            McGill Computer Science Website Content Management System
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 text-right">
            Current User: {{ user.get_username }}
            <a class='btn btn-primary' href="{% url 'logout' %}">Log Out</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="row">
                <div class="btn-group btn-group-sm" role="group">
                    <button type="button-sm" class="btn btn-primary" data-toggle="modal" data-target="#createPageModal">Create Page</button>
                    <button type="button-sm" class="btn btn-primary">Remove Page</button>
                    <button type="button-sm" class="btn btn-primary">Move Page</button>
                </div>
            </div>
            <div class="row">
                <ul id="site-tree"></ul>
            </div>
        </div>

        <div class="col-sm-9">
            <form id="editor-form">
                <label><b>Page Template: </b></label><br>
                <select name="page_template" id="page_template">
                    <option value="DF">Default</option>
                    <option value="NS">No Sidebar</option>
                </select>
                <br>
                <label><b>Page Name (i.e. slug in URL): </b></label><br>
                <label>English: </label><br><input type="text" name="page_name_en" id="page_name_en" class="en" required><br>
                <label>French: </label><br><input type="text" name="page_name_fr" id="page_name_fr" class="fr" required><br>
                <br>
                <label><b>Page Title: </b></label><br>
                <label>English: </label><br><input type="text" name="page_title_en" id="page_title_en" class="en"><br>
                <label>French: </label><br><input type="text" name="page_title_fr" id="page_title_fr" class="fr"><br>
                <br>
                <label><b>Custom Addition to &lt;header&gt;: </b></label><br>
                <label>English: </label><br><textarea name="custom_js_css_en" id="custom_js_css_en" class="en form-control" rows="10" cols="100"></textarea><br>
                <label>French: </label><br><textarea name="custom_js_css_fr" id="custom_js_css_fr" class="fr form-control" rows="10" cols="100"></textarea><br>
                <br>
                <label><b>Page Content: </b></label><br>
                <label>English: </label><br><textarea name="page_content_en" id="page_content_en" class="en form-control" rows="10" cols="100"></textarea><br>
                <label>French: </label><br><textarea name="page_content_fr" id="page_content_fr" class="fr form-control" rows="10" cols="100"></textarea><br>
                <br>
                <input type="submit" value="Save">

            </form>
        </div>

        <div class="modal fade" id="createPageModal" tabindex="-1" role="dialog" aria-labelledby="createPageModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Create Page</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form id="create-page-modal-form">
                    <input type="hidden" name="parent" id="create-page-modal-parent-id">
                    <input type="hidden" name="page_level" id="create-page-modal-page_level">
                    <label><b>Page Name (i.e. slug in URL): </b></label><br>
                    <label>English: </label><br><input type="text" name="page_name_en" id="create-page-modal-page_name_en" class="en" required><br>
                    <label>French: </label><br><input type="text" name="page_name_fr" id="create-page-modal-page_name_fr" class="fr" required><br>
                    <label><b>Page Title: </b></label><br>
                    <label>English: </label><br><input type="text" name="page_title_en" id="create-page-modal-page_title_en" class="en"><br>
                    <label>French: </label><br><input type="text" name="page_title_fr" id="create-page-modal-page_title_fr" class="fr"><br>
    
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary" onclick="createPage();">Create</button>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<script>
    var currentHighlightDOMElement;
    var currentHighlightNode;
    var allNodes = [];
    var toggler = document.getElementsByClassName("caret");

    function createPage()
    {
        $('#createPageModal').modal('toggle');
        parent = currentHighlightNode; //the page to be created will be added a child of the currently highlighted node.
        var newPageName = $("#create-page-modal-page_name_en").val();
        $("#create-page-modal-parent-id").val(parent.id);
        $("#create-page-modal-page_level").val(parent.page_level+1);
        $.ajax({
            type: "POST",
            url: "/cms_management_api/create_page/",
            headers:{
                "X-CSRFToken": '{{csrf_token}}'
            },
            data: $("#create-page-modal-form").serialize(),
            success: function() {
                updateTree(function()
                {
                    var newPageNode = currentHighlightNode.children.filter(node => node.page_name_en==newPageName)[0];
                    var newPageDOMObject = $("li[data-li-page-id='"+newPageNode.id+"']")[0];
                    displayDetails(newPageDOMObject,newPageNode,"en");
                });
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("An error has happened while creating the page: "+xhr+" "+thrownError);
            }       
        })
    }

    function updateTree(toExecuteOnSuccess)
    {
        $.ajax({
            url: "/cms_management_api/get_tree/",
            headers:{
                "X-CSRFToken": '{{csrf_token}}'
            },
            success: function(result){
                $("#site-tree").html(makeTree(result,'en'));
                var i;
                for (i = 0; i < toggler.length; i++) {
                toggler[i].addEventListener("click", function() {
                    this.parentElement.querySelector(".nested").classList.toggle("active");
                    this.classList.toggle("caret-down");
                    });
                }
                if(toExecuteOnSuccess != null) toExecuteOnSuccess();
                
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert("Error retrieving website tree.")
            }
        });
    }
    //this is invoked when the client clicks on an element in the tree view. It makes the right side show
    //the content of that page.
    function displayDetails(treeViewDOMObject,root,lang)
    {
        if(currentHighlightDOMElement==treeViewDOMObject)
        {
            return; //if this is the current page being viewed, then do nothing.
        }
        if(currentHighlightDOMElement!=null)
        {
            currentHighlightDOMElement.classList.remove("tree-view-element-highlighted");
        }
        treeViewDOMObject.classList.add("tree-view-element-highlighted");
        currentHighlightDOMElement = treeViewDOMObject;
        currentHighlightNode = root;
        $("#editor-form").off();
        for(var i of Object.keys(root))
        {
            if( $("#editor-form #"+i).length > 0)
            {
                $("#editor-form #"+i).val(root[i]);
            }
        }

        $("#editor-form").submit(function(e){
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: "/cms_management_api/edit_page/"+root.id+"/",
                headers:{
                "X-CSRFToken": '{{csrf_token}}'
                },
                data: $("#editor-form").serialize(),
                success: function(result) {
                    alert("The page has been saved successfully.");
                    updateTree(function() {displayDetails(treeViewDOMObject,root,lang)});
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("An error has occured.")
                }
            })
        });
    }
    
    function addClassHelper(tagType,pageID,classesToAdd,DOMObject,node)
    {
        if($(tagType+"[data-"+tagType+"-page-id='"+pageID+"']").length==0)
        {
            DOMObject.classList.add(classesToAdd);
        }
        else
        {
            var oldDOMObject = $(tagType+"[data-"+tagType+"-page-id='"+pageID+"']")[0];
            DOMObject.className = oldDOMObject.classList;
            if(currentHighlightDOMElement==oldDOMObject)
            {
                currentHighlightDOMElement = DOMObject;
                currentHighlightNode = node;
            }
        }

    }
    function makeTree(root,lang)
    {
        console.log(root);
        var newItem = document.createElement("li");
        newItem.setAttribute("data-li-page-id",root.id);
        var actionAnchor = document.createElement("a");
        actionAnchor.setAttribute("data-a-page-id",root.id);
        actionAnchor.onclick = function() {
            displayDetails(this,root,lang);
        }
        actionAnchor.innerHTML = root["page_title_"+lang];
        addClassHelper("a",root.id,"tree-view-item",actionAnchor,root);       

        if(root.children.length > 0)
        {
            var caretSpan = document.createElement("span");
            caretSpan.setAttribute("data-span-page-id",root.id);
            addClassHelper("span",root.id,"caret",caretSpan,root);
            caretSpan.appendChild(actionAnchor);

            var childList = document.createElement("ul");
            childList.setAttribute("data-ul-page-id",root.id);
            addClassHelper("ul",root.id,"nested",childList,root);
            for(var i of root.children)
            {
                childList.appendChild(makeTree(i,lang));
            }

            newItem.appendChild(caretSpan);
            newItem.appendChild(childList);
        }
        else
        {
            newItem.appendChild(actionAnchor);
        }
        return newItem;

    }

    updateTree();
    $('#createPageModal').on('hidden.bs.modal', function () {
        $(this).find('form').trigger('reset');
    });

</script>
{% else%}
<script>
    window.location.href = "{% url 'login' %}";
</script>
{% endif %}
{% endblock %}